* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-size: 14px;
  font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei UI", "Microsoft YaHei", SimHei, "\5B8B\4F53", simsun, sans-serif; }

ul, li {
  list-style: none; }

a {
  color: black;
  text-decoration: none; }

a:hover {
  color: #066E84; }

#header {
  width: 100%;
  height: 30px;
  background: url(../images/header_bg.png);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 8999; }
  #header .header_wrap {
    width: 900px;
    height: 30px;
    margin: 0 auto; }
    #header .header_wrap .logo {
      width: 100px;
      height: 30px;
      background: url(../images/logo.gif) no-repeat;
      float: left;
      cursor: pointer; }
    #header .header_wrap .header_right {
      float: right;
      height: 30px;
      line-height: 30px; }
      #header .header_wrap .header_right div {
        float: left;
        margin-right: 8px;
        text-align: center;
        cursor: pointer; }
      #header .header_wrap .header_right .member {
        background: url(../images/arrow.png) 70px 12px no-repeat;
        position: relative;
        width: 80px; }
        #header .header_wrap .header_right .member ul.member_ul {
          width: 80px;
          height: 0;
          /*120*/
          cursor: pointer;
          position: absolute;
          top: 30px;
          left: 0;
          border: 1px solid silver;
          border-top: 0 none;
          display: none;
          overflow: hidden; }
          #header .header_wrap .header_right .member ul.member_ul li {
            cursor: pointer;
            background: #FAFBAE url(../images/arrow3.gif) 5px 9px no-repeat; }
            #header .header_wrap .header_right .member ul.member_ul li a {
              display: block; }
          #header .header_wrap .header_right .member ul.member_ul li:hover {
            background: orange url(../images/arrow4.gif) 5px 9px no-repeat; }
      #header .header_wrap .header_right .member:hover {
        background: url(../images/arrow2.png) 70px 12px no-repeat; }

#login {
  width: 400px;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid silver;
  display: none;
  z-index: 9001;
  background: white; }
  #login form {
    padding: 30px 20px 0 50px;
    position: relative; }
    #login form p {
      margin-bottom: 15px; }
      #login form p input {
        width: 200px;
        height: 35px;
        font-size: 16px;
        padding: 3px; }
      #login form p button {
        width: 107px;
        height: 30px;
        background: url("../images/login_button.png") no-repeat;
        border: 0 none;
        margin-left: 30px;
        cursor: pointer; }
    #login form .check_user_pass, #login form .loading, #login form .loading_succ {
      position: absolute;
      top: 5px;
      left: 80px;
      color: red;
      display: none; }
    #login form .loading {
      color: black;
      background: url(../images/loading2.gif) no-repeat;
      text-indent: 30px; }
    #login form .loading_succ {
      color: green;
      background: url(../images/reg_succ.png) no-repeat;
      text-indent: 30px; }

#login h2, #register h2, #article_pub h2, #skin h2, #big_photo h2 {
  background: url("../images/header_bg.png");
  font-weight: normal;
  font-size: 18px;
  height: 30px;
  line-height: 30px;
  padding-left: 10px;
  cursor: move; }
  #login h2 span, #register h2 span, #article_pub h2 span, #skin h2 span, #big_photo h2 span {
    display: inline-block;
    float: right;
    font-size: 18px;
    line-height: 30px;
    width: 30px;
    height: 30px;
    text-align: center;
    cursor: pointer; }
  #login h2 span:hover, #register h2 span:hover, #article_pub h2 span:hover, #skin h2 span:hover, #big_photo h2 span:hover {
    background: #EA3E26;
    color: white; }

#lock {
  background: black;
  opacity: 0.5;
  filter: alpha(opacity=50);
  position: absolute;
  z-index: 9000;
  top: -30px; }

#register {
  border: 1px solid silver;
  width: 600px;
  letter-spacing: 2px;
  background: #FAF8F8;
  z-index: 9002;
  display: none;
  position: absolute; }
  #register #register_form {
    padding: 30px 0 0 50px;
    position: relative; }
    #register #register_form div {
      margin-bottom: 15px; }
    #register #register_form label {
      width: 70px;
      display: inline-block;
      text-align: right;
      vertical-align: top;
      padding-top: 5px;
      font-size: 15px; }
    #register #register_form input {
      padding: 5px; }
    #register #register_form input, #register #register_form select {
      height: 35px;
      font-size: 15px;
      border: 1px solid silver; }
    #register #register_form .birt_w {
      width: 70px; }
    #register #register_form textarea {
      width: 400px;
      height: 130px;
      resize: none;
      border: 1px solid silver; }
    #register #register_form .button_type {
      background: url(../images/reg.png);
      width: 143px;
      height: 33px;
      border: 0 none;
      margin-left: 75px;
      cursor: pointer; }
    #register #register_form .info {
      position: absolute;
      top: 30px;
      left: 315px;
      font-size: 12px;
      width: 200px;
      height: 32px;
      padding-left: 30px;
      display: none; }
    #register #register_form .info_user, #register #register_form .info_affirm, #register #register_form .info_answer, #register #register_form .info_email {
      background: url(../images/reg_info.png); }
    #register #register_form .info_error, #register #register_form .pass_error, #register #register_form .affirm_error, #register #register_form .question_error, #register #register_form .answer_error, #register #register_form .email_error, #register #register_form .birt_error, #register #register_form .user_error {
      background: url(../images/reg_error.png);
      padding-top: 8px; }
    #register #register_form .info_succ, #register #register_form .pass_succ, #register #register_form .affirm_succ, #register #register_form .answer_succ, #register #register_form .email_succ {
      background: url(../images/reg_succ.png) no-repeat;
      top: 35px;
      color: green;
      padding-left: 20px; }
    #register #register_form .info_pass {
      width: 260px;
      height: 106px;
      background: url(../images/reg_info3.png);
      padding-top: 10px;
      padding-left: 9px;
      line-height: 20px;
      top: 45px; }
    #register #register_form .q, #register #register_form .s {
      font-size: 16px;
      font-weight: bold; }
    #register #register_form .pass_error {
      top: 82px; }
    #register #register_form .pass_succ {
      top: 90px; }
    #register #register_form .info_affirm {
      top: 130px;
      padding-top: 8px; }
    #register #register_form .affirm_error {
      top: 130px;
      padding-top: 8px; }
    #register #register_form .affirm_succ {
      top: 140px; }
    #register #register_form .question_error {
      top: 180px; }
    #register #register_form .info_answer, #register #register_form .answer_error {
      top: 230px;
      padding-top: 8px; }
    #register #register_form .answer_succ {
      top: 240px; }
    #register #register_form .info_email, #register #register_form .email_error {
      top: 280px;
      padding-top: 8px; }
    #register #register_form .email_succ {
      top: 290px; }
    #register #register_form .email_mess {
      top: 315px;
      left: 126px;
      border: 1px solid silver;
      background: white;
      padding-left: 8px;
      width: 260px;
      height: 105px; }
      #register #register_form .email_mess li {
        height: 20px; }
    #register #register_form .birt_error {
      top: 332px;
      left: 350px; }
    #register #register_form .ps p {
      text-align: right;
      padding-top: 5px;
      padding-right: 80px; }
    #register #register_form .ps .clear_count {
      display: none; }
    #register #register_form .info_reg, #register #register_form .reg_succ {
      width: 150px;
      height: 40px;
      background: #ECECEC url(../images/loading2.gif) no-repeat 10px 12px;
      border: 1px solid #8f8f8f;
      line-height: 40px;
      text-align: center;
      padding: 0;
      font-size: 18px;
      border-radius: 5px;
      top: 250px;
      left: 220px; }
    #register #register_form .reg_succ {
      background: #ECECEC url(../images/success.gif) no-repeat 10px 10px; }
    #register #register_form .is_user {
      background: url(../images/loading2.gif) no-repeat;
      top: 5px;
      left: 125px; }

#nav {
  width: 465px;
  height: 52px;
  margin: 80px auto 50px auto;
  background: url(../images/nav_bg.png) no-repeat;
  position: relative; }
  #nav a:hover {
    color: black; }
  #nav ul {
    width: 425px;
    height: 52px;
    text-align: center;
    position: absolute;
    left: 20px; }
    #nav ul li {
      float: left;
      width: 85px;
      height: 52px;
      line-height: 52px; }
  #nav ul.black {
    z-index: 1; }
  #nav div.nav_bg {
    z-index: 2;
    width: 85px;
    height: 52px;
    position: absolute;
    left: 20px;
    overflow: hidden;
    background: url(../images/nav_over.png) no-repeat 0 11px; }
    #nav div.nav_bg ul.white {
      left: 0; }
      #nav div.nav_bg ul.white a {
        color: white; }
  #nav ul.about {
    z-index: 3; }
    #nav ul.about a {
      display: block;
      opacity: 0;
      filter: alpha(opacity=0); }

#skin {
  width: 635px;
  height: 300px;
  margin-top: 50px;
  border: 1px solid silver;
  text-align: center;
  background: white;
  position: absolute;
  display: none;
  z-index: 9003; }
  #skin ul {
    margin: 8px; }
    #skin ul li {
      float: left;
      margin-left: 5px;
      margin-bottom: 5px; }

#article .loading, #skin .skin_bg .loading {
  width: 100px;
  height: 20px;
  background: url(../images/loading4.gif);
  position: absolute;
  top: 280px;
  left: 265px; }

#skin .skin_bg .loading {
  top: 140px;
  left: 267px; }

#main {
  width: 900px;
  margin: 0 auto; }
  #main #sidebar {
    float: left; }
    #main #sidebar h2 {
      width: 250px;
      height: 30px;
      background: url(../images/header_bg.png);
      font-size: 16px;
      font-weight: normal;
      padding: 5px 0 0 5px;
      border: 1px solid silver;
      border-bottom: 0 none; }
    #main #sidebar ul {
      border: 1px solid silver;
      width: 250px;
      height: 150px;
      margin-bottom: 15px;
      font-size: 12px;
      overflow: hidden;
      background: white; }
      #main #sidebar ul li {
        height: 30px;
        line-height: 30px;
        text-indent: 25px;
        background: url(../images/arrow3.gif) no-repeat 5px 9px; }
      #main #sidebar ul li:hover {
        background: url(../images/arrow4.gif) no-repeat 5px 9px; }
  #main #article {
    float: right;
    width: 630px;
    height: 585px;
    position: relative; }
    #main #article div.content {
      margin-bottom: 15px;
      opacity: 0;
      filter: alpha(opacity=0); }
      #main #article div.content h2 {
        background: url(../images/header_bg.png);
        font-size: 16px;
        height: 30px;
        font-weight: normal;
        padding: 5px 5px 0 5px;
        border: 1px solid silver; }
        #main #article div.content h2 em {
          float: right;
          font-style: normal;
          font-size: 13px; }
      #main #article div.content p {
        height: 150px;
        text-indent: 2em;
        padding: 10px;
        border: 1px solid silver;
        border-top: 0 none;
        background: white; }
  #main #article_pub {
    width: 580px;
    border: 1px solid silver;
    position: fixed;
    display: none;
    z-index: 9003;
    background: white; }
    #main #article_pub form {
      padding: 20px 0 0 20px;
      position: relative; }
      #main #article_pub form p {
        margin-bottom: 15px;
        margin-right: 5px; }
        #main #article_pub form p label {
          width: 50px;
          vertical-align: top;
          font-size: 15px;
          letter-spacing: 2px; }
        #main #article_pub form p input {
          width: 250px;
          height: 30px;
          padding: 5px;
          border: 1px solid silver; }
        #main #article_pub form p textarea {
          width: 450px;
          height: 180px;
          padding: 5px;
          border: 1px solid silver; }
        #main #article_pub form p button {
          width: 107px;
          height: 30px;
          background: url(../images/blog_button);
          border: 0 none;
          margin-left: 35px;
          cursor: pointer; }
        #main #article_pub form p .check {
          color: red;
          position: absolute;
          top: 25px;
          right: 75px;
          display: none; }
      #main #article_pub form .info, #main #article_pub form .info_succ {
        position: absolute;
        top: 135px;
        left: 190px;
        height: 30px;
        line-height: 30px;
        width: 150px;
        background: url(../images/header_bg.png);
        border: 1px solid silver;
        text-align: center;
        border-radius: 5px;
        font-size: 15px;
        display: none; }
        #main #article_pub form .info span, #main #article_pub form .info_succ span {
          display: inline-block;
          background: url(../images/loading2.gif);
          width: 16px;
          height: 16px;
          position: relative;
          top: 2px;
          left: -10px; }
      #main #article_pub form .info_succ span {
        width: 14px;
        height: 14px;
        background: url(../images/reg_succ.png); }
  #main #banner {
    position: relative;
    height: 150px;
    color: white;
    line-height: 30px; }
    #main #banner img {
      position: absolute;
      top: 0;
      left: 0; }
    #main #banner ul {
      width: 900px;
      height: 30px;
      position: absolute;
      left: 0;
      bottom: 0;
      text-align: center;
      background: rgba(0, 0, 0, 0.5);
      z-index: 3; }
      #main #banner ul li {
        display: inline-block;
        width: 30px;
        height: 30px;
        background: #6F6F6F;
        border-radius: 30px;
        cursor: pointer; }
    #main #banner strong {
      position: absolute;
      left: 10px;
      bottom: 0;
      z-index: 4; }
  #main #photo {
    background: white;
    margin-top: 20px;
    padding: 20px 0; }
    #main #photo dl {
      width: 202px;
      height: 270px;
      border: 1px solid white;
      position: relative;
      float: left;
      margin-left: 20px;
      margin-bottom: 15px; }
      #main #photo dl img {
        cursor: pointer; }
      #main #photo dl dd {
        position: absolute;
        bottom: 0;
        left: 73px; }
    #main #photo dl:hover {
      border: 1px solid orange; }
  #main #photo:after {
    content: '.';
    height: 0;
    clear: both;
    visibility: hidden;
    display: block; }
  #main #big_photo {
    width: 620px;
    height: 620px;
    border: 1px solid silver;
    background: black;
    display: none;
    z-index: 9005;
    position: fixed; }
    #main #big_photo .big_img {
      padding: 10px 0 0 10px;
      position: relative;
      width: 600px;
      height: 450px; }
      #main #big_photo .big_img img {
        position: absolute;
        top: 190px;
        left: 290px; }
      #main #big_photo .big_img .up, #main #big_photo .big_img .down {
        width: 100px;
        height: 100px;
        font-size: 80px;
        color: white;
        position: absolute;
        top: 190px;
        opacity: 0; }
      #main #big_photo .big_img .left, #main #big_photo .big_img .right {
        width: 300px;
        height: 450px;
        opacity: 0;
        filter: alpha(opacity=0);
        position: absolute;
        top: 0;
        cursor: pointer;
        z-index: 5;
        background: white; }
      #main #big_photo .big_img .up, #main #big_photo .big_img .left {
        left: 0;
        cursor: url(../images/left.cur), pointer; }
      #main #big_photo .big_img .down, #main #big_photo .big_img .right {
        right: 0;
        cursor: url(../images/right.cur), pointer; }
      #main #big_photo .big_img .count {
        color: white;
        position: absolute;
        right: 0;
        bottom: 0; }
    #main #big_photo .small_img {
      width: 530px;
      height: 100px;
      margin-left: 45px;
      overflow: hidden;
      position: relative;
      top: 20px; }
      #main #big_photo .small_img .small {
        width: 1310px;
        overflow: hidden;
        position: absolute;
        top: 0;
        left: 0; }
        #main #big_photo .small_img .small li {
          display: inline-block;
          margin-left: 2px; }
          #main #big_photo .small_img .small li img {
            cursor: pointer; }
    #main #big_photo .small_left, #main #big_photo .small_right {
      width: 40px;
      height: 100px;
      font-size: 80px;
      color: white;
      position: absolute;
      bottom: 0;
      cursor: pointer; }
    #main #big_photo .small_left {
      left: 0; }
    #main #big_photo .small_right {
      right: 4px; }

/*# sourceMappingURL=style.css.map */
